    </div> <!-- end main-content--> 

    <footer>
        <div id="main-footer-content">

        </div>   
        <h3>Copyright &copy; 2021 Scholar's Website</h3>
    </footer><!-- end footer-->

</body>
</html>