<%- include("partials/header.ejs") %>

<!-- Content -->
<header>
    <h1>Welcome to <%= title %></h1>
    <a href="users/register">Click here to register</a>
</header>


<%- include("partials/footer.ejs") %>