* {
    margin: 0;padding: 0;
}

body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    position: relative;
    min-height: 100vh;
    background: no-repeat url("../assets/images/library-main.jpg");
    background-size: cover;
}

#navbar ul{
    padding: auto;
    margin: 0;
    background-color: rgb(86, 204, 243);
    list-style: none;
    border-bottom:2px solid #000;
}

.navbar-item{
    display: inline-block;
    padding: 0.9rem;
}

.navbar-item a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 0.6rem;
}

.navbar-item a:hover{
    background-color: rgb(5, 102, 131);
    color:#fff;
}

header {
    font-weight: bold;
}

header h1 {
    margin: 0;
    padding: 1rem;
}

#user-registration-form{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    width: 50vw;
    margin: 0 auto;
    text-align: left;
    position:relative;
}

#user-registration-form #form-icon img{
    height: 2rem;
    position:absolute;
    right: -0.5rem;
    top:-0.5rem;
    
}


#user-registration-form input, #user-registration-form label {
    display: block;
    width: 40vw;
    margin: 0.5rem 2rem;
    padding: 0.2rem;
}

#user-registration-form #genres-preferred {
    list-style: none;
    margin: 0.5rem 2rem;
}

#user-registration-form #genres-preferred li {
    float: left;
    display: inline;
}

.clr {
    clear:both;
}

#user-registration-form #genres-preferred input {
    display: inline-block;
    width: 1rem;
    margin: 0rem;
}

#user-registration-form #genres-preferred label {
    display: inline-block;
    width: 5rem;
}

#user-registration-form input[type="submit"] {
    height: 20px;
    background-color: rgb(36, 222, 247);
    color: #fff;
    border: none;
    margin: 20px auto;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
}

#user-registration-form input[type="submit"]:hover {
    background-color: rgb(12, 96, 107);
}

#user-registration-form input[type="submit"]:active {
    background-color: rgb(0, 0, 0);
    color: white;
}


#showcase, #main-content,#news{
    color: white;
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 0.5rem;
}

#showcase {
    font-size: 1.5rem;
}

#main-content {
    line-height: 1.5rem;
}

#showcase h1, #main-content h1, #news h1  {
    margin-bottom: 0.5rem;
}

#main-content{
    text-align: left;
    float: left;
    width: 65%;
    padding: 0.5rem 2.5rem;
    margin-right: 0.1rem;
    box-sizing: border-box;
}

#news{
    float: right;
    width: 30%;
    padding: 0.5rem 1.5rem;
    margin-left: 0.1rem;
    box-sizing: border-box;
}


/* Media Query*/
@media(max-width: 600px) {
    #main-content {
        width: 100%;
        float:none;
    }

    #news {
        width: 100%;
        float:none;
    }

}

footer {
    clear: both;
    background-color: black;
    color: rgb(14, 209, 243);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

#main-footer-content {
    position: relative;
    padding-top: 0.1rem;
    margin:auto;
}


