/* #main-content {
    background: no-repeat url("../assets/images/library-main.jpg");
    width: 100%;
    height: 500px;
} */

header,footer, #main-content{
    text-align: center;
}

header {
    font-weight: bold;
}

#user-registration-form{
    background-color: rgb(194, 195, 196);
    padding: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

#user-registration-form input, select, label {
    display: block;
    width: 20rem;
    margin: 0.5rem 2rem;
    padding: 0.2rem;
}

#user-registration-form label {
    text-align: left;
}

#user-registration-form select {
    margin: 0.5rem auto;
}

#user-registration-form input[type="submit"] {
    height: 20px;
    background-color: rgb(36, 222, 247);
    color: #fff;
    border: none;
    margin: 20px auto;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
}

#user-registration-form input[type="submit"]:hover {
    background-color: rgb(12, 96, 107);
}

#user-registration-form input[type="submit"]:active {
    background-color: rgb(0, 0, 0);
    color: white;
}


